.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.25rem;
    height: 6.25rem;
    font-size: 2.5rem;
    font-weight: bold;
    border: 0.125rem solid #ccc;
    border-radius: 0.625rem;
    cursor: pointer;
    background: #fff;
    color: #213547;
}