.game {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

.game-container {
    flex: 1;
}

.history-container {
    min-width: 12rem;
    font-size: 0.9rem;
}


.history-container h2 {
    margin-bottom: 0.5rem;
}

.history-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.history-container li {
    margin-bottom: 0.25rem;
}