#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  text-align: left;
}

.app {
  width: 100%;
  margin: 0;
  padding: 0;
}

.page-title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 1rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
