.layout {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.layout__content {
    flex: 1;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
